html, body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

p {
    margin: 0;
}

a{
    text-decoration: none;
}

button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: 700;
    border-radius: 8px;
    background: rgba(42, 54, 71, 1);
    color: white;
    cursor: pointer;
    border: 0;
    padding: 0 12px;
    height: 56px;
    gap: 16px;
    margin-bottom: 10px;
    transition: 0.1s;
  }

  button:hover{
    background-color: #29ABE2;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.3);
  }

  input, textarea, select {
    box-sizing: border-box;
    height: 48px;
    border-radius: 10px;
    padding: 12px 21px;
    border: 1px solid #d1d1d1;
    margin-bottom: 32px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    outline: 0;
}

.seperator{
    background-color: #29ABE2;
    min-width: 3px;
    height: 59px;
    border-radius: 3px;
}

.seperator-vertical{
    background-color: #29ABE2;
    border-radius: 3px;
    min-height: 3px;
    width: 90px;
    align-self: self-start;
    display: none;
}

header{
    background-color: white;
    grid-area: header;
    padding-left: 116px;
    padding-right: 40px;
    box-shadow: 0px 4px 4px 0px #0000001a;
}

header span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    border: 3px solid #2a3647;
    border-radius: 50%;
    color: #29ABE2;
}

.button-bordered{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 56px;
    border: 1px solid #2a3647;
    color: #2a3647;
    border-radius:  10px;
    cursor: pointer;
    gap: 4px;
    transition: translate 0.1s;
}

.button-bordered:hover{
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);
    color: #29abe2;
    translate: 1px;
    border-color: #29abe2;  
}

.button-bordered:hover img {
    filter: invert(72%) sepia(69%) saturate(3211%) hue-rotate(165deg) brightness(89%) contrast(98%);
}

.icons {
    display: flex;
    align-items: center;
    gap: 18px;
}

.header-help {
    width: 20px;
    height: 20px;
}

.header-content{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;

}

.nav-logo-mobile{
    display: none;
    width: 32px;
    height: 39px;
}

nav{
    background-color: #2a3647;
    color: #cdcdcd;
    padding: 64px 0;
    grid-area: nav;
    font-size: 16px;
}

nav a {
    color: #cdcdcd;
}

.nav-desktop{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-desktop img{
    width: 100px;
    height: 122px;
    margin-bottom: 114px;
}

.nav-desktop-link-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-desktop-links{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 46px;
    padding: 8px 53px;
    align-items: center;
    gap:20px;  
}

.link-active{
    cursor: default !important;
    background-color: #091931;
    color: #fff;
}
.link-active:hover {
    background-color: #091931 !important;
}

.nav-desktop-links:hover{
    cursor: pointer;
    background-color: #2a3d59;
}

.nav-desktop-links img {
    width: 30px;
    height: 30px;
    margin: 0;
}

.nav-mobile{
    height: 100%;
    display: none;
    justify-content: space-between;
    padding: 2px 16px;
    gap: 25px;
}

.nav-mobile-conteiner-card img {
    width: 30px;
    height: 30px;
}

.nav-mobile-conteiner-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 79px;
}

main{
    background-color: #f6f7f8;
    grid-area: main;
    padding-top: 110px;
    padding-left: 96px;
    padding-right: 16px;
    
}

.grid-container{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 232px auto;
    grid-template-rows: 96px auto;
    grid-template-areas: 
        'nav header'
        'nav main';
}

.site-title{
    margin-bottom: 56px;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 73px;
}

.site-title p:nth-child(1) {
    font-size: 61px;
    font-weight: 700;
}

.site-title p:nth-child(3) {
    font-size: 27px;
}

.main-content{
    display: flex;
    overflow-y: auto;
   
}
.flex-content-main {
    box-sizing: border-box;
}

@media (max-width: 905px){
    body{
        font-size: 14px;
    }

    header span {
        width: 40px;
        height: 40px;
    }

    .flex-content-main {
        padding-right: 0;
    }

    .nav-logo-mobile{
        display: flex;
    }

    .header-desktop-name{
        display: none;
    }

    .header-help{
        display: none;
    }

    nav{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        height: 80px;
        padding: 0;
    }

    .nav-desktop{
        display: none;
    }

    .nav-mobile{
        display: flex;
    }

    .seperator-vertical-gray{
        height: 68px;
    }

    .grid-container{
        grid-template-columns: auto;
        grid-template-rows: 80px auto 80px;
        grid-template-areas: 
        'header'
        'main'
        'nav';
    }

    .site-title p:nth-child(1) {
        font-size: 47px;
    }
    
    .site-title p:nth-child(3) {
        font-size: 20px;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        padding-left: 16px;
        padding-right: 16px;
    }

    main {
        padding-top: 48px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 80px;
    }

    .site-title{
        justify-content: center;
    }

}