html,
body {
    display: grid;
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 100%;
    width: 100%;
    background-color: #F6F7F8;
}

::-webkit-scrollbar {
    width: 8px;
    /* Breite der Scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #aabbcc;
    /* Farbe des Scrollbalken-Griffs */
    border-radius: 6px;
    /* Abrundung des Scrollbalken-Griffs */
}

::-webkit-scrollbar-track {
    background-color: #ddeeff;
    /* Farbe des Scrollbalken-Hintergrunds */
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.td-h2 {
    display: flex;
    align-items: start;
    flex-direction: column;
}

button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: 700;
    border-radius: 8px;
    background: rgba(42, 54, 71, 1);
    color: white;
    cursor: pointer;
    border: 0;
    padding: 0 12px;
    height: 56px;
    gap: 16px;
    transition: 0.1s;
}

button img {
    width: 25px !important;
    height: 24px !important;
}

button:hover {
    background-color: #29ABE2;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.3);
}

.button_no_hover {
    background: gray !important;
    cursor: default;
}

.button_no_hover:hover {
    box-shadow: none;
}

input,
textarea,
select {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 21px;
    border: 1px solid #d1d1d1;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    outline: 0;
    width: 100%;
    resize: none;
}

::placeholder {
    color: rgba(209, 209, 209, 0.8);
}

.logo-container {
    position: absolute;
    margin-top: -167px;
    margin-left: -137px;
    top: 50%;
    left: 50%;
    animation-name: logoSlide;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes logoSlide {
    from {
        top: 50%;
        left: 50%;
        transform: scale(1);
    }

    to {
        top: 80px;
        left: 77px;
        transform: scale(0.3);
    }
}

/*Index*/

.inputEmail {
    background-image: url('assets/icons/mail.png');
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: 18px;
    margin-bottom: 0;
}

.inputLoginName {
    background-image: url('assets/icons/person.png');
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: 18px;
    margin-bottom: 0;
}

.inputLoginPassword {
    background-image: url('assets/icons/lock.png');
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: 18px;
    margin-bottom: 0;
}

.register-successfully {
    position: absolute;
    right: 20px;
    bottom: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #2a3647;
    padding: 0 25px;
    border-radius: 20px;
    width: fit-content;
    height: 74px;
    opacity: 0;
}

.reg-animation {
    animation-name: signUp;
    animation-duration: 3000ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes signUp {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.content-index {
    display: flex;
    grid-area: content;
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
}



.div-login {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 652px;
    height: 493px;
    border-radius: 30px;
    padding: 48px 115px;
}

.title-index {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 0 !important;
}

.seperator-index {
    margin-top: 16px;
    width: 150px;
    border: 1px solid #29ABE2;
    border-radius: 3px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 196px;
    gap: 20px;
}

.div-login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttons-login {
    display: flex;
    justify-content: center;
    gap: 35px
}

.buttons-login button {
    width: 110px;
}

.buttons-login .button-bordered {
    width: 177px;
    font-size: 20px !important;
}

.div-index-register {
    grid-area: signup;
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 67px;
    margin-right: 122px;
    height: fit-content;
    box-sizing: border-box;
    justify-content: end;
}

.div-index-signup{
    display: flex;
    align-items: center;
    gap: 35px;
}

.register button {
    width: 91px;
    height: 49px;
    font-size: 16px;
}

.index-form-div {
    display: grid;
    gap: 24px;
    margin-bottom: 32px;
}

.div-policy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.div-policy img:hover {
    cursor: pointer;
}

.div-policy p {
    font-size: 16px;
}

.div-policy p a {
    color: #29ABE2;
    cursor: pointer;
}

.div-register {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 598px;
    height: 630px;
    border-radius: 30px;
    padding: 48px 88px;
}

.d-none {
    display: none !important;
}

.seperator {
    background-color: #29ABE2;
    min-width: 3px;
    height: 59px;
    border-radius: 3px;
}

.seperator-vertical {
    background-color: #29ABE2;
    border-radius: 3px;
    min-height: 3px;
    width: 90px;
    align-self: self-start;
    display: none;
}

.signup-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 64px;
    left: 48px;
    width: 32px;
    height: 32px;
}

.signup-back:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: scale(1.1);
}

header {
    background-color: white;
    grid-area: header;
    padding-left: 116px;
    padding-right: 40px;
    box-shadow: 0px 4px 4px 0px #0000001a;
}

header span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    border: 3px solid #2a3647;
    border-radius: 50%;
    color: #29ABE2;
}

.button-bordered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 56px;
    border: 1px solid #2a3647;
    color: #2a3647;
    border-radius: 10px;
    cursor: pointer;
    gap: 4px;
    transition: translate 0.1s;
}

.button-bordered img {
    width: 24px !important;
    height: 24px !important;
}

.button-bordered:hover {
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);
    color: #29abe2;
    translate: 1px;
    border-color: #29abe2;
}

.button-bordered:hover img {
    filter: invert(72%) sepia(69%) saturate(3211%) hue-rotate(165deg) brightness(89%) contrast(98%);
}

.icons {
    display: flex;
    align-items: center;
    gap: 18px;
}

.header-help {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.header-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.jc-sb {
    justify-content: space-between;
}

.nav-logo-mobile {
    display: none;
    width: 32px;
    height: 39px;
}

.user-menue {
    display: flex;
    width: 130px;
    height: 48px;
    align-items: center;
    justify-content: center;
}

.user-menue:hover {
    background-color: #2a3d59;
    cursor: pointer;
}

nav {
    background-color: #2a3647;
    color: #cdcdcd;
    padding: 64px 0;
    grid-area: nav;
    font-size: 16px;
}

nav a {
    color: #cdcdcd;
}

.nav-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-desktop img {
    width: 100px;
    height: 122px;
    margin-bottom: 114px;
}

.nav-desktop-link-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-desktop-links {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 46px;
    padding: 8px 53px;
    align-items: center;
    gap: 20px;
}

.link-active {
    cursor: default !important;
    background-color: #091931;
    color: #fff;
}

.link-active:hover {
    background-color: #091931 !important;
}

.nav-desktop-links:hover {
    cursor: pointer;
    background-color: #2a3d59;
}

.nav-desktop-links img {
    width: 30px;
    height: 30px;
    margin: 0;
}

.nav-mobile {
    height: 100%;
    display: none;
    justify-content: space-between;
    padding: 2px 16px;
    gap: 25px;
}

.nav-mobile-conteiner-card img {
    width: 30px;
    height: 30px;
}

.nav-mobile-conteiner-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    min-width: 80px;
    border-radius: 16px;
}

.nav-mobile-conteiner-card:hover {
    cursor: pointer;
    background-color: #2a3d59;
}

main {
    background-color: #f6f7f8;
    grid-area: main;
    padding-top: 110px;
    padding-left: 96px;
    padding-right: 16px;
    overflow: auto;
}

.grid-container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 232px auto;
    grid-template-rows: 96px auto;
    grid-template-areas:
        'nav header'
        'nav main';
}

.grid-container-index {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 123px auto 75px;
    grid-template-areas:
        'signup'
        'content'
        'footer';
}

.site-title {
    margin-bottom: 56px;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 73px;
}

.site-title p:nth-child(1) {
    font-size: 61px;
    font-weight: 700;
}

.site-title p:nth-child(3) {
    font-size: 27px;
}

.main-content {
    display: flex;
    overflow-y: auto;
}

.flex-content-main {
    box-sizing: border-box;
}

.error-border {
    border-color: red !important;
}

.login_error {
    color: red;
    display: flex;
    justify-self: end;
    font-size: 12px;
}

.bg-color-urgent {
    background-color: red !important;
}

.bg-color-medium {
    background-color: rgb(255, 170, 5) !important;
}

.bg-color-low {
    background-color: rgb(124, 226, 44) !important;
}

.prio-selected {
    color: white;
}

.prio-selected img {
    filter: brightness(0%) invert(100%);
}

/* .subtasks-add-icons {
    position: absolute;
    top: 12px;
    right: 20px;
} */

.subtasks-add-delete {
    display: flex;
    gap: 4px;
}

.subtasks-img-hover:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.subtasks-hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    height: 32px;
}

.subtasks-hover:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contactsAssignedTo {
    background-color: #fff;
    max-height: 168px;
    overflow-y: auto;
}

.addTaskAssignedToSelectDefault {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 21px;
    border: 1px solid #d1d1d1;
    font-size: 20px;
    font-family: Inter, sans-serif;
    outline: 0;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
}

.assignedToContactsListItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 21px;
    margin-bottom: 2px;
}

.assignedToContactsListItemContainer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.assignedToContactsListItemContainerLeft {
    display: flex;
    align-items: center;
    gap: 16px
}

.assignedToContactsListItemContainerLeft img {
    width: 20px;
    height: 20px;
}

.assignedToContactsListInizials {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    min-width: 42px;
    height: 42px;
    background-color: #ff7a00;
    color: white;
    font-size: 12px;
    border: 3px solid #fff;
}

.div-input-field {
    border: none;
    margin-bottom: 0;
}

#editSubtasks {
    border: none;
    margin-bottom: 0;
}

.div-input {
    padding-right: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
}

.contactSelected {
    background-color: #2A3647;
    color: #fff;
    border-radius: 10px;
}

.contactSelected img {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(46deg) brightness(109%) contrast(101%);
}

.contactSelected:hover {
    background-color: #091931;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.pr-96 {
    padding-right: 96px;
}

.pb-32px {
    padding-bottom: 32px;
}

#header-user-menu:hover {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.index-footer {
    display: flex;
    justify-content: center;
    gap: 32px;
    font-size: 16px;
    color: #a8a8a8;
    font-weight: 400;
}

.index-footer a {
    color: #a8a8a8;
}

.header-user-menu-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    position: absolute;
    right: 8px;
    width: fit-content;
    height: fit-content;
    background-color: #2a3647;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    border-radius: 20px 0 20px 20px;
    margin-top: 17px;
}

.input-edit-subtask {
    padding: 0 21px;
    margin: 0;
    border-radius: 0;
    height: 20px;
    border: 0;
    margin-right: 20px;
    background-color: #F6F7F8;
    ;
}

.subtask-edit-underline {
    border-bottom: 1px solid #000;
}

@media (max-width: 905px) {
    body {
        font-size: 20px;
    }

    header span {
        width: 40px;
        height: 40px;
    }

    .flex-content-main {
        padding-right: 0;
    }

    .nav-logo-mobile {
        display: flex;
    }

    .header-desktop-name {
        display: none;
    }

    .header-help {
        display: none;
    }

    nav {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        height: 80px;
        padding: 0;
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }

    .seperator-vertical-gray {
        height: 68px;
    }

    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: 80px auto 80px;
        grid-template-areas:
            'header'
            'main'
            'nav';
    }

    .site-title p:nth-child(1) {
        font-size: 47px;
    }

    .site-title p:nth-child(3) {
        font-size: 20px;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        padding-left: 16px;
        padding-right: 16px;
    }

    main {
        padding-top: 48px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 80px;
    }

    .site-title {
        justify-content: center;
    }

}

@media (max-width: 655px) {
    .content-index {
        width: 100%;
    }

    .login-padding {
        padding-top: 160px;
    }

    .div-login,
    .div-register {
        width: 100%;
        padding: 32px 8px;
    }

    .grid-container-index {
        margin-top: 40px;
        display: grid;
        height: 100vh;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: auto 123px 75px;
        grid-template-areas:
            'content'
            'signup'
            'footer';
    }

    .div-index-register {
        margin: 0;
        margin-bottom: 22px;
        margin-top: 22px;
        justify-self: center;
    }

    .div-register {
        margin-top: 165px;
    }

    .nav-mobile {
        gap: 0;
        padding: 0;
    }
    .buttons-login {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 370px) {
    .nav-mobile {
        font-size: 14px;
    }
}