form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    height: 120px;
    font-family: "Inter", sans-serif;
}

label {
    margin-bottom: 8px;
}

button {
    gap: 4px;
}

input,
textarea,
select {
    margin-bottom: 32px;
}

.div-input-prio {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 56px;
    margin-bottom: 32px;
    gap: 16px;
}

.div-prio {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #fff;
    height: 56px;
    flex: 1;
    gap: 8px;
    padding: 16px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.close-slider {
    display: none;
}

.seperator-vertical-gray {
    width: 1px;
    height: 424px;
    background-color: #d1d1d1;
    margin: 0 48px;
}

.div-addtask-input-fields {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    padding-right: 16px;
    padding-bottom: 38px;
}

.div-addtask-input-fields-left,
.div-addtask-input-fields-right {
    box-sizing: border-box;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.required-field {
    color: #ff8190;
}

.div-addtask-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 977px;
}

.div-addtask-footer p {
    font-size: 16px;
}

.div-addtask-buttons {
    display: flex;
    gap: 16px;
}

.subtasks-add-icons {
    position: absolute;
    top: 12px;
    right: 20px;
}

.subtasks-add-delete {
    display: flex;
    gap: 4px;
}

.subtasks-img-hover:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.subtasks-hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    height: 32px;
}

.subtasks-hover:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contactsAssignedTo {
    background-color: #fff;
    max-height: 168px;
    overflow-y: auto;
}

.addTaskAssignedToSelectDefault {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 21px;
    border: 1px solid #d1d1d1;
    font-size: 20px;
    font-family: Inter, sans-serif;
    outline: 0;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
}

.assignedToContactsListItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 21px;
    margin-bottom: 2px;
}

.assignedToContactsListItemContainer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.assignedToContactsListItemContainerLeft {
    display: flex;
    align-items: center;
    gap: 16px
}

.assignedToContactsListItemContainerLeft img {
    width: 20px;
    height: 20px;
}

.assignedToContactsListInizials {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    min-width: 42px;
    height: 42px;
    background-color: #ff7a00;
    color: white;
    font-size: 12px;
    border: 3px solid #fff;
}

#subtasks {
    padding-right: 80px;
}

.contactSelected {
    background-color: #2A3647;
    color: #fff;
    border-radius: 10px;
}

.contactSelected img {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(46deg) brightness(109%) contrast(101%);
}

.contactSelected:hover {    
    background-color: #091931;
}

.mb-0{
    margin-bottom: 0 !important;
}

@media (max-width: 1170px) {
    .div-addtask-input-fields {
        flex-direction: column;
        padding-bottom: 0px;
    }

    .seperator-vertical-gray {
        display: none;
    }

    .div-addtask-footer {
        max-width: 440px;
    }

    .contactsAssignedTo {
        margin-bottom: 32px;
    }

    .addTaskAssignedToSelectDefault {
        margin-bottom: 32px;
    }
}

@media (max-width: 905px) {
    main {
        padding-bottom: 168px;
    }

    .div-addtask-input-fields {
        padding-right: 0;
    }

    .div-addtask-input-fields-left,
    .div-addtask-input-fields-right {
        max-width: 100%;
    }

    .div-addtask-footer {
        box-sizing: border-box;
        max-width: 100%;
        position: fixed;
        bottom: 80px;
        left: 0;
        right: 0;
        align-items: center;
        padding: 16px;
        background-color: #f6f7f8;
        height: 88px;
    }

    .button-bordered {
        display: none;
    }
}