input,
textarea,
select {
    margin-bottom: 32px;
}

.div-input-prio {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 56px;
    margin-bottom: 32px;
    gap: 16px;
}

.div-prio {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #fff;
    height: 56px;
    flex: 1;
    gap: 8px;
    padding: 16px 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.btn-board-search {
    margin: 0;
    height: 48px;
    gap: 4px;
    min-width: 153px;
}

.input-boad-search {
    background-image: url('../icons/search.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-x: 275px;
    margin-bottom: 0;
}

.board-search-bar-mobile {
    display: none;
    cursor: pointer;
}

.flex-content-main {
    display: flex;
    flex-direction: column;
}

.mb-0 {
    margin-bottom: 0;
}

.div-board-head {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1086px;
    height: 78px;
    margin-bottom: 56px;
}

.div-board-search-bar {
    display: flex;
    align-items: center;
    gap: 16px;
}

.no-tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 10px;
    border: 1px #a8a8a8 dashed;
    background-color: #e7e7e7;
    color: #a8a8a8;
}

.task-card {
    box-sizing: border-box;
    width: 252px;
    height: fit-content;
    background-color: #fff;
    border-radius: 24px;
    padding: 16px;
    gap: 10px;
    margin-bottom: 16px;
    font-size: 16px;
}

.task-card:hover {
    cursor: pointer;
}

.task-card-category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 27px;
    padding: 4px 16px;
    border-radius: 8px;
    color: white;
    margin-bottom: 24px;
}

.task-card-headline {
    font-weight: 700;
    margin-bottom: 8px;
    color: #2a3647;
}

.task-card-content {
    color: #a8a8a8;
    margin-bottom: 24px;
}

.task-card-subtasks-amount {
    font-size: 12px;
}

.task-card-subtasks-progressbar-background {
    background-color: #f4f4f4;
    flex: 1;
    height: 8px;
}

.task-card-subtasks-progressbar{
    background-color: #0038ff;
    height: 100%;
    border-radius: 16px;
}

.task-card-subtasks,
.task-card-footer {
    display: flex;
    justify-content: space-between;
}

.task-card-subtasks {
    margin-bottom: 24px;
    align-items: center;
    gap: 11px;
}

.task-card-footer-assigned {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    background-color: #ff7a00;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: -8px;
}

.task-card-footer-left {
    display: flex;
    max-width: 155px;
    flex-wrap: wrap;
}

.task-card-footer-prio{
    height: 34px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(4, 252px);
    grid-template-areas:
        'todo progress feedback done';
    gap: 26px;
}

.div-board-section {
    display: flex;
    flex-direction: column;
    min-width: 246px;
    min-height: 159px;
}

.div-tasks-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-board-section-headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
    height: 24px;
}

.div-board-section-headline img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/*---- Only For Grid-layout ----*/
.section-to-do {
    grid-area: todo;
}

.section-in-progress {
    grid-area: progress;
}

.section-await-feedback {
    grid-area: feedback;
}

.section-done {
    grid-area: done;
}

/*Add Task Container*/

.card {
    margin-bottom: 32px;
}

.task-card-slide {
    box-sizing: border-box;
    display: grid;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    right: -150%;
    margin: auto;
    max-width: 525px;
    /* max-height: 931px; */
    max-height: fit-content;
    padding: 48px 40px;
    border-radius: 30px;
    gap: 24px;
}

.task-single-card-category{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 27px;
    padding: 4px 16px;
    border-radius: 8px;
    color: white;
    margin-bottom: 24px;
}

.task-single-card-headline {
    font-size: 61px;
    font-weight: 700;
}

.task-single-card-date,
.task-single-card-prio {
    display: flex;
    align-items: center;
    gap: 25px;
}

.task-single-card-prio-right {
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.task-single-card-assignedto,
.task-single-card-subtasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-single-card-subtasks {
    font-size: 16px;
}

.task-single-card-assignedto-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.task-single-card-assignedto-list-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    background-color: #ff7a00;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.task-single-card-assignedto-list-card,
.task-single-card-list-card {
    display: flex;
    align-items: center;
    padding: 7px 16px;
    gap: 16px;
}

.chkbox-task-single-card-subtasks-list {
    width: 24px;
    height: 24px;
    border: 2px solid #2a3647;
    border-radius: 3px;
    margin: 0;
}

.task-single-card-list-card:hover {
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 15px;
}

.task-single-card-list-card:hover img {
    cursor: pointer;
    background-color: #d1d1d1;
}

.task-single-card-list-card img:hover {
    cursor: pointer;
    border-radius: 50%;
}

.task-single-card-footer {
    height: 24px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
}

.task-single-card-footer-spacer {
    height: 100%;
    width: 1px;
    background-color: #d1d1d1;
}

.task-single-card-delete,
.task-single-card-edit {
    display: flex;
    align-items: center;
    gap: 8px;
}

.task-single-card-delete:hover,
.task-single-card-edit:hover {
    cursor: pointer;
    color: #29abe2;
}

.task-single-card-delete:hover img,
.task-single-card-edit:hover img {
    filter: invert(72%) sepia(69%) saturate(3211%) hue-rotate(165deg) brightness(89%) contrast(98%);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    height: 120px !important;
    font-family: "Inter", sans-serif;
}

label {
    margin-bottom: 8px !important;
}

.main-content-add-task {
    display: flex;
    width: 100%;
    overflow-y: auto;
}

.div-addtask-input-fields {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    padding-right: 16px;
    padding-bottom: 32px;
    gap: 48px;
}

.div-addtask-input-fields-left,
.div-addtask-input-fields-right {
    box-sizing: border-box;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.required-field {
    color: #ff8190;
}

.div-addtask-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 977px;
}

.div-addtask-footer p {
    font-size: 16px;
}

.div-addtask-buttons {
    display: flex;
    gap: 16px;
}

.slide-container {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.addtask-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    right: -150%;
    margin: auto;
    max-width: 1116px;
    height: fit-content;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 74px;
    padding-right: 65px;
    border-radius: 30px;
}

@keyframes slide_in {
    0% {
        right: -250%;
    }

    100% {
        right: 16px;
    }
}

@keyframes slide_out {
    0% {
        right: 16px;
    }

    100% {
        right: -250%;
    }
}

.close-slider {
    position: absolute;
    width: 32px !important;
    height: 32px !important;
    top: 48px;
    right: 48px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.d-none {
    display: none;
}

.fs-61 {
    font-size: 61px;
}

.d-block{
    display: block;
}

.drag-area {
    width: 250px;
    height: 159px;
    background-color: #f6f7f8;
    margin-top: 8px;
}

.drag-area-shown {
    border-radius: 10px;
    border: 1px dashed #000;
}

.edit-task-headlines{
    margin-bottom: 16px;
}

.btn-edit-ok {
    justify-self: end;
    width: 100px;
}

/*-----------------------------*/

@media (max-width: 1430px) {
    .main-content {
        grid-template-columns: repeat(3, 252px);
        grid-template-areas:
            'todo progress feedback'
            'done done done';
    }
}

@media (max-width: 1170px) {
    .main-content {
        grid-template-columns: repeat(2, 252px);
        grid-template-areas:
            'todo progress'
            'feedback done';
    }

    .div-board-head {
        flex-direction: column;
        height: fit-content;
    }

    .site-title {
        padding-bottom: 56px;
    }
}

@media (max-width: 905px) {
    .main-content {
        justify-content: center;
    }

    .board-search-bar-mobile {
        display: flex;

    }

    .div-board-head {
        flex-direction: row;
    }

    .site-title {
        padding-bottom: 0;
    }

    .div-board-search-bar {
        display: none;
    }
    .task-single-card-headline {
        font-size: 30px;
    }
}

@media (max-width: 580px) {
    .main-content {
        grid-template-columns: 100%;
        grid-template-areas:
            'todo'
            'progress'
            'feedback'
            'done';
    }
}


.test {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}