main{
    display: flex;
    padding: 0;
    padding-right: 16px;
}

button{
    
    width: 100%;
    min-width: 242px;
    margin-bottom: 22px;
}

.flex-content-main{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 110px;
    padding-left: 55px;
    width: 100%;
}

.div-contacts{
    box-sizing: border-box;
    min-width: 456px;
    height: 100%;
    padding: 22px 52px;
    background-color: #fff;
}

.main-content {
    flex: 1;
    box-sizing: border-box;
}

.div-contacts-list{
    display: flex;
    flex-direction: column;
    
}


.div-contacts-list-card{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 78px;
    padding: 15px 24px;
    gap: 35px;
    cursor: pointer;
}

.div-contacts-list-card:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.05));
    border-radius: 15px;
}

.div-contacts-list-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7a00;
    display: flex;
    width: 42px;
    height: 42px;
    min-height: 42px;
    min-width: 42px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
}

.div-contacts-list-data p:nth-child(2){
    font-size: 16px;
}

.contacts-list-letter{
    display: flex;
    align-items: center;
    width: 100%;
    height: 58px;
}

.seperator-contacts-list{
    width: 100%;
    height: 1px;
    background-color: #d1d1d1;
    margin: 8px 0;
}

/*Contacts Add/Edit Card*/

.contacts-add-card-container{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.contacts-add-card{
    display: flex;
    background-color: transparent;
    position: absolute;    
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto; 
    max-width: 1212px;
    height: 592px;    
}

.single-contact{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 21px;
}

.single-contact > p:nth-child(2){
    display: flex;
    align-items: center;
    height: 74px;
}

.single-contact-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    min-width: 120px;
    height: 120px;
    background-color: #ff7a00;
    color: white;
    font-size: 47px;
    border: 3px solid #fff;
}

.single-contact-head{
    display: flex;
    gap: 54px;
}

.single-contact-name{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 47px;
    font-weight: 500;
}

.single-contact-name-edit{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
}

.single-contact-edit, .single-contact-delete{
    display: flex;
    align-items: center;
    gap: 8px;
}

.single-contact-edit:hover, .single-contact-delete:hover {
    cursor: pointer;
    filter: invert(72%) sepia(69%) saturate(3211%) hue-rotate(165deg) brightness(89%) contrast(98%);
}

.single-contact-data{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.single-contact-data p:nth-child(1){
    font-weight: 700;
}

.single-contact-data-mail, .single-contact-data-phone{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@keyframes slide_in {
    0% {
        right: -250%;
    }
    100% {
        right: 0;
    }
}

@keyframes slide_out {
    0% {
        right: 0;
    }
    100% {
        right: -250%;
    }
}

.contacts-add-card-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: #2a3647;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 100%;
    max-width: 467px;
    padding: 66px 48px;
    gap: 12px;
}

.contacts-add-card-left .site-title{
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    margin-bottom: 0;
    height: fit-content;
    gap: 8px;
}

.contacts-add-card-left .seperator-vertical{
    display: flex;
}

.contacts-add-card-left img{
    width: 55px;
    height: 66px;
}

.contacts-add-card-right{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
    flex: 1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 48px;
    padding-left: 16px;
}

.add-contacs-close-slider {
    position: absolute;
    width: 32px !important;
    height: 32px !important;
    top: 48px;
    right: 48px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.contacts-add-card-right img {
    width: 120px;
    height: 120px;
}

.contacts-add-card-right form {
    display: flex;
    flex-direction: column;
}

.contacts-add-card-right form input {
    width: 100%;
}

.div-contacts-add-form{
    display: flex;
    gap: 24px;
}

.div-contacts-add-form button {
    max-width: 214px;
}

.d-none{
    display: none;
}

.btn-save-contact {
    min-width: 111px;
    max-width: 111px !important;
}

.contact-edit-inizials{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: #fff;
    font-size: 47px;
    border: 3px solid #fff;
}

.main-content-close{
    display: none;
}

.input-form-contacts{
    gap: 32px;
}

@media (max-width:1175px){
    .site-title{
        flex-direction: column;
        height:fit-content;
        margin-bottom: 48px;
        gap: 0;
    }

    .title-sub{
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .seperator{
        display: none;
    }

    .flex-content-main{
        padding-left: 16px;
    }
    .div-contacts{
        max-width: 348px;
    }
    .title-sub{
        align-self: flex-start;
    }
    .seperator-vertical{
        display: flex;
    }
}

@media (max-width:1045px){
    .single-contact-head {
        flex-direction: column;
    }
    .single-contact-logo {
        width: 120px;
    }
}

@media (max-width:1010px){
    main{
        flex-direction: column-reverse;
    }
    .btn-add-new-contact{
        display: none !important;
    }

    .div-background-main-content{
        display: flex;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.2);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .main-content {
        background-color: #fff;
        position: fixed;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        min-width: 320px;
        max-width: 500px;
        height: fit-content;
        padding: 48px 32px;
        border-radius: 20px;
    }

    .main-content-close{
        display: flex;
        position: absolute;
        right: 50px;
    }
    .main-content-close:hover{
        cursor: pointer;
    }

    .div-contacts{
        min-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}

/*Add Contact Container*/
@media (max-width:905px){
    .contacts-add-card {
        flex-direction: column;
        max-height: 880px;
        height: 100%;
    }
    .add-contacs-close-slider{
        filter: invert(83%) sepia(49%) saturate(0%) hue-rotate(6deg) brightness(115%) contrast(101%);
    }
    .contacts-add-card-left {
        max-width: 100%;
        border-radius: 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        align-items: center;
        max-height: 351px;
    }
    .contacts-add-card-left img {
        display: none;
    }

    .contacts-add-card-right{
        border-radius: 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        max-height: 530px;
        padding: 0 16px;
    }
}

@media (max-width:905px){
    .contacts-add-card-right {
        flex-direction: column;
    }
    #contact-add-edit-img {
        margin-top: -130px;
    }
}