main{
    display: flex;
    padding: 0;
}

button{
    padding: 0 12px;
    gap: 16px;
    width: 100%;
    min-width: 242px;
    height: 56px;
}

.flex-content-main{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 110px;
    padding-left: 55px;
}

.div-contacts-list{
    box-sizing: border-box;
    width: 100%;
    max-width: 456px;
    height: 100%;
    padding: 22px 52px;
    background-color: #fff;
    overflow-y: auto;
}

.main-content {
    flex: 1;
    box-sizing: border-box;
}

@media (max-width:1065px){
    .site-title{
        flex-direction: column;
        height:fit-content;
        margin-bottom: 48px;
        gap: 0;
    }

    .title-sub{
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .seperator{
        display: none;
    }

    .flex-content-main{
        padding-left: 16px;
    }
    .div-contacts-list{
        max-width: 348px;
    }
    .title-sub{
        align-self: flex-start;
    }
    .seperator-vertical{
        display: flex;
    }
}

@media (max-width:905px){
    main{
        flex-direction: column-reverse;
    }

    button{
        display: none;
    }

    .flex-content-main{
        display: none;
    }

    .main-content{
        display: none;
    }

    .div-contacts-list{
        max-width: 100%;
    }

}