<div id="contacts-add-card" class="contacts-add-card">
    <div class="contacts-add-card-left">
            <img src="assets/icons/logo-white.png">
            <div class="site-title" id="contact-add-edit-title">
            </div>
    </div>
    
    <div class="contacts-add-card-right">
        <img class="add-contacs-close-slider" src="./assets/icons/close.png" onclick="slideOut('contacts-add-card')">
        <div id="contact-add-edit-img">
        </div>
        <form class="input-form-contacts" onsubmit="handleFormSubmission(); return false">
            <input type="hidden" id="contact_action" value="add">
            <input id="contact_name" placeholder="Name">
            <input id="contact_email" placeholder="Email" pattern=".*@.*\..*" title="An @ is required">
            <input id="contact_phone" placeholder="Phone" pattern="\d*" title="Only numbers allowed">
            <div class="div-contacts-add-form" id="div-contacts-add-form">
            </div>
        </form>
    </div>
</div>