<div class="header-content">
    <p class="header-desktop-name">Kanban Project Management Tool</p>
    <img class="nav-logo-mobile" src="assets/icons/logo.png" alt="">
    <div >
        <div class="icons">
            <img id="header-help" class="header-help" src="assets/icons/help.png" alt="" onclick="(openTerm('help'))">
            <span id="header-user-menu" onclick="openUserMenue()"></span>
        </div>
        <div class="header-user-menu-dropdown d-none" id="header-user-menu-dropdown">
            <div class="user-menue" onclick="openTerm('legal-notice')">Legal Notice</div>
            <div class="user-menue" onclick="openTerm('policy')">Privacy Policy</div>
            <div class="user-menue" onclick="logout()">Log out</div>
        </div>
    </div>
</div>