<div class="div-login" id="div-login">
  <div class="site-title title-index">
    <p>Log in</p>
    <div class="seperator-index"></div>
  </div>
  <form onsubmit="login(); return false;">
    <div class="index-form-div">
      <input class="inputLoginName" id="mail" type="text" placeholder="Email" style="width: 100%;">
      <input class="inputLoginPassword" id="pass" type="text" placeholder="Password" style="width: 100%;">
      <p class="login_error d-none" id="login_error"> Die eigegeben Daten sind nicht korekt</p>
    </div>
    <div class="buttons-login">
      <button>Login</button>
      <div class="button-bordered" onclick="loginGuest();">Guest Log in</div>
    </div>
  </form>
</div>