<!--<div class="div-login">
  <div class="div-headline">
    Log in
    <div class="seperator"></div>
  </div>
  <div class="div-form">
    <form class="form" onsubmit="userLogin(); return false">
      <div class="input-container" id="input-container-mail">
        <input id="login_mail" type="email" placeholder="Email" required />
        <img src="assets/icons/mail.png" />
      </div>
      <span id="span_login_user_not_exist" class="span_error_message d-none">User do not exist</span>
      <div class="input-container" id="input-container-password">
        <input id="login_password" type="password" placeholder="Password" required />
        <img src="assets/icons/lock.png" />
      </div>
      <span id="span_login_password" class="span_error_message d-none">Password incorrect</span>
      <div class="forgot-password">
        <div class="login-remember">
          <input type="checkbox" name="remember" id="" class="input-check-remeber" />
          Remeber me
        </div>
        <a class="pointer" onclick="forgotPasswort()"> I forgot my password</a>
      </div>
      <div class="login-buttons">
        <button>Log in</button>
        <a href="intern.html?id=guest" class="a-button">Guest Log in</a>
      </div>
    </form>
  </div>
</div>-->

<div class="div-login" id="div-login">
  <div class="site-title title-index">
    <p>Log in</p>
    <div class="seperator-index"></div>
  </div>
  <form>
    <div class="index-form-div">
      <input type="text" placeholder="Email" style="width: 100%;">
      <input type="text" placeholder="Password" style="width: 100%;">
    </div>
    <div class="buttons-login">
      <button>Login</button>
      <div class="button-bordered">Guest Log in</div>
    </div>
  </form>
</div>