<div class="nav-desktop">
    <img src="assets/icons/logo-white.png" alt="">
    <div class="nav-desktop-link-container">
        <div onclick="openSite('summary')" id="nav-summary" class="nav-desktop-links"><img src="assets/icons/add_task.png">Summay</div>
        <div onclick="openSite('addtask')" id="nav-addtask" class="nav-desktop-links"><img src="assets/icons/add_task.png">Add Task</div>
        <div onclick="openSite('board')" id="nav-board" class="nav-desktop-links"><img src="assets/icons/add_task.png">Board</div>
        <div onclick="openSite('contacts')" id="nav-contacts" class="nav-desktop-links"><img src="assets/icons/add_task.png">Contacts</div>
    </div>
</div>

<div class="nav-mobile">
    <div onclick="openSite('summary')" id="mobile-nav-summary" class="nav-mobile-conteiner-card">
        <img src="assets/icons/add_task.png">
        Summary
    </div>
    <div onclick="openSite('board')" id="mobile-nav-board" class="nav-mobile-conteiner-card">
        <img src="assets/icons/add_task.png">
        Board
    </div>
    <div onclick="openSite('addtask')" id="mobile-nav-addtask" class="nav-mobile-conteiner-card">
        <img src="assets/icons/add_task.png">
        Add Tasks
    </div>
    <div onclick="openSite('contacts')" id="mobile-nav-contacts" class="nav-mobile-conteiner-card">
        <img src="assets/icons/add_task.png">
        Contacts
    </div>
</div>