<div class="div-register" id="div-register">
    <div class="site-title title-index">
      <p>Sign Up</p>
      <div class="seperator-index"></div>
    </div>
    <div class="signup-back" onclick="closeSignUp()">
        <img src="assets/icons/back.png" alt="">
    </div>
    <form>
      <div class="index-form-div">
        <input type="text" placeholder="Name" style="width: 100%;">
        <input type="text" placeholder="Email" style="width: 100%;">
        <input type="text" placeholder="Password" style="width: 100%;">
        <input type="text" placeholder="Confirm Password" style="width: 100%;">
      </div>
      <div class="buttons-login">
        <button>Sign Up</button>
      </div>
    </form>
  </div>