<div id="single-contact" class="single-contact">    
    <div class="single-contact-head">
        <div class="single-contact-logo" id="single-contact-logo">
            SF
        </div>
        <div class="single-contact-name" >
            <p id="single-contact-name">Simon Funke</p>
            <div class="single-contact-name-edit" id="single-contact-name-edit">
                
            </div>
        </div>
    </div>
    <p>Contact Information</p>
    <div class="single-contact-data">
        <div class="single-contact-data-mail">
            <p>Email</p>
            <p id="single-contact-data-mail">simonfunke@web.de</p>
        </div>
        <div class="single-contact-data-phone" >
            <p>Phone</p>
            <p id="single-contact-data-phone">+49 1111 11 111 1</p>
        </div>
    </div>
</div>