<div id="single-contact" class="single-contact">
    <div class="single-contact-head">
        <div class="single-contact-logo">
            SF
        </div>
        <div class="single-contact-name">
            <p>Simon Funke</p>
            <div class="single-contact-name-edit">
                <div class="single-contact-edit">
                    <img src="assets/icons/edit.png"> Edit
                </div>
                <div class="single-contact-delete">
                    <img src="assets/icons/delete.png"> Delete
                </div>
            </div>
        </div>
    </div>
    <p>Contact Information</p>
    <div class="single-contact-data">
        <div class="single-contact-data-mail">
            <p>Email</p>
            <p>simonfunke@web.de</p>
        </div>
        <div class="single-contact-data-phone">
            <p>Phone</p>
            <p>+49 1111 11 111 1</p>
        </div>
    </div>
</div>