<div class="task-card-slide" id="task-card-slide">
    <img class="close-slider" src="./assets/icons/close.png" onclick="slideOut('task-card-slide')">
    <div class="task-single-card-category" id="ask-single-card-category">
        User Story
    </div>
    <div class="task-single-card-headline" id="task-single-card-headline">
        Kochwelt Page & Recipe Recommender
    </div>
    <div class="task-single-card-content" id="task-single-card-content">
        Build strart page with recipe recommendation.
    </div>
    <div class="task-single-card-date">
        <p>Due date:</p>
        <p id="task-single-card-date">10/05/2023</p>
    </div>
    <div class="task-single-card-prio">
        <p>Priority:</p>
        <div class="task-single-card-prio-right" id="task-single-card-prio-right">
            Medium
            <img src="assets/icons/prio_medium.png" class="task-card-footer-prio">
        </div>
    </div>
    <div class="task-single-card-assignedto">
        <p>Assigned To:</p>
        <div class="task-single-card-assignedto-list" id="task-single-card-assignedto-list">

        </div>
    </div>
    <div class="task-single-card-subtasks">
        <p>Subtasks</p>
        <div class="task-single-card-subtasks-list" id="task-single-card-subtasks-list">
            <div class="task-single-card-list-card">
                <img src="assets/icons/check_box.png">
                <p>Implement Recipe Recommendation</p>
            </div>

            <div class="task-single-card-list-card">
                <img src="assets/icons/check_box_checked.png">
                <p>Start Page Layout</p>
            </div>
        </div>
    </div>
    <div class="task-single-card-footer">
        <div class="task-single-card-delete">
            <img src="assets/icons/delete.png"> Delete
        </div>
        <div class="task-single-card-footer-spacer"></div>
        <div class="task-single-card-edit">
            <img src="assets/icons/edit.png"> Edit
        </div>
    </div>
</div>