<div class="task-card-slide" id="task-card-slide">
    <img class="close-slider" src="./assets/icons/close.png" onclick="slideOut('task-card-slide')">
    <div class="task-card-category">
        User Story
    </div>
    <div class="task-single-card-headline">
        Kochwelt Page & Recipe Recommender
    </div>
    <div class="task-single-card-content">
        Build strart page with recipe recommendation.
    </div>
    <div class="task-single-card-date">
        <p>Due date:</p>
        <p>10/05/2023</p>
    </div>
    <div class="task-single-card-prio">
        <p>Priority:</p>
        <div class="task-single-card-prio-right">Medium<img src="assets/icons/prio_med.png"
                class="task-card-footer-prio"></div>
    </div>
    <div class="task-single-card-assignedto">
        <p>Assigned To:</p>
        <div class="task-single-card-assignedto-list">
            <div class="task-single-card-assignedto-list-card">
                <div class="task-single-card-assignedto-list-logo">
                    SF
                </div>
                <p>Simon Funke</p>
            </div>
            <div class="task-single-card-assignedto-list-card">
                <div class="task-single-card-assignedto-list-logo">
                    SS
                </div>
                <p>Sten Stensen</p>
            </div>

        </div>
    </div>
    <div class="task-single-card-subtasks">
        <p>Subtasks</p>
        <div class="task-single-card-subtasks-list">
            <div class="task-single-card-list-card">
                <img src="assets/icons/check_box.png">
                <p>Implement Recipe Recommendation</p>
            </div>

            <div class="task-single-card-list-card">
                <img src="assets/icons/check_box_checked.png">
                <p>Start Page Layout</p>
            </div>
        </div>
    </div>
</div>